.cart-payment {
  padding-top: 20px;
  border: 1px solid black;
  text-align: center;
  width: 100%;
  height: auto;
}

.credit-card-number {
  width: 30.5%;
}

.cart-payment-header {
  font-weight: bold;
  font-size: 24px;
}

.credit-card-expiration {
  width: 15.15%;
}

.credit-card-cvv {
  width: 15.15%;
  padding-left: 0.20%;
}

.payment-button {
  width: 30.5%;
  height: 5vh;
  font-size: 24px;
  color: white;
  background-color: purple;
}
