<div class="cart-payment">
  <span class="cart-payment-header">Payment</span><br/>
  <div>
    <mat-form-field appearance="fill" class="credit-card-number">
      <mat-label>Credit Card Number</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" class="credit-card-expiration">
      <mat-label>Expiration Date</mat-label>
      <input matInput placeholder="MM/YYYY">
    </mat-form-field>

    <mat-form-field appearance="fill" class="credit-card-cvv">
      <mat-label>CVV</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div>
    <button mat-fab extended>
      <mat-icon>payment</mat-icon>
      Place Order
    </button>
  </div>
<!--  <br/>-->

</div>
