<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Tommy's Closet</title>
<!--  <link rel="stylesheet" href="HomePage.scss" />-->
<!--  <link rel="stylesheet" href="SidebarStyles.scss" />-->
<!--  <script src="HomePage.js"></script>-->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
<!--
TODO:

- Need to refactor sidebar icon to properly render sidebar
- Clean up navigation links
- Merge horizontal and sidebar

-->
<!-- HTML code for sidebar -->
<div class="sidebar">
  <ul>
    <li class="logo">
      <a href="HomepageComponent">
<!--        <span class="icon"><ion-icon name="shirt-outline"></ion-icon></span>-->
        <span class="text">Tommy's Closet</span>
      </a>
    </li>
    <li>
      <a href="HomePage.html">
<!--        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>-->
        <span class="text">Homepage</span>
      </a>
    </li>
    <li>
      <a href="#">
<!--        <span class="icon"><ion-icon name="pricetags-outline"></ion-icon></span>-->
        <span class="text">Products</span>
      </a>
    </li>
    <li>
      <a href="#">
<!--        <span class="icon"><ion-icon name="cart-outline"></ion-icon></span>-->
        <span class="text">Cart</span>
      </a>
    </li>
  </ul>
</div>
<!-- HTML code for sidebar ends -->
<header>
  <nav>
    <ul>
      <li><h1>Tommy's Closet</h1></li>
    </ul>
  </nav>
</header>
<main>
  <br>
  <br>
  <br>
  <div id="aboutUs">
    <h2>♡ About Tommy's Closet ♡</h2>
    <h2>Welcome to Tommy's Closet! We are proud to present you with the finest goods America has to offer. Each item is handpicked, handmade and individually checked for quality before leaving our warehouses. If there is any dissatisfaction, we guarantee you your money back!</h2>
  </div>
</main>
</body>
