<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Tommy's Closet</title>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
<header>
  <nav>
    <ul>
      <li><h1>Tommy's Closet</h1></li>
    </ul>
  </nav>
</header>
<main>
  <br>
  <br>
  <br>
  <div id="aboutUs">
    <h2>♡ About Tommy's Closet ♡</h2>
    <h2>Welcome to Tommy's Closet! We are proud to present you with the finest goods America has to offer. Each item is handpicked, handmade and individually checked for quality before leaving our warehouses. If there is any dissatisfaction, we guarantee you your money back!</h2>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</main>
</body>
