.cart-container {
  //width: calc((100% - 5em) *0.75);
  width: 100%;

}

.empty-cart {
  text-align: center;
}

.filled-cart {
  //padding-left: 300px;
  overflow: auto;
}

.cart-product {
  //border: 1px solid black;
  //position: relative;
  margin-bottom: 5px;
}

.product-image,.product-name, .product-qty, .product-total {
  display:inline;
  text-align: left;
  margin-right: 10px;
}

.btn-close {
  justify-content: right;
}

//.product-attr {
//  float: left;
//  outline: 1px solid black;
//  padding-left: 5px;
//  width: 20%;
//  min-height:20%;
//  text-align: left;
//  vertical-align: middle;
//  display: inline;
//}
//
//.product-attr:after {
//  content: "";
//  display: table;
//  clear: both;
//}

//#product-name {
//  //display:inline;
//  text-align: left;
//  vertical-align: center;
//  //margin-right: 10px;
//}
//
//#product-qty {
//  //display:inline;
//  text-align: center;
//  vertical-align: center;
//}
//#product-total {
//  //display:inline;
//  text-align: right;
//  vertical-align: center;
//}

//Shipping
//.cart-shipping-address {
//  padding-top: 20px;
//  border: 1px solid black;
//  text-align: center;
//  width: 100%;
//  height: auto;
//}
.cart-shipping-header {
  font-weight: bold;
  font-size: 24px;
}

.shipping-address-first-name {
  width: 25%;
}

.shipping-address-last-name {
  width: 25%;
  padding-left: 0.20%;
}

.shipping-address-address-line-1 {
  width: 50%;
}

.shipping-address-zip-code {
  width: 25%;
}

.shipping-address-city {
  width: 25%;
  padding-left: 0.20%;
}

//.shipping-address-zip-code, .shipping-address-state {
//  width: 25%;
//}

//.shipping-address-city, .shipping-address-phone-number {
//  width: 25%;
//  padding-left: 0.20%;
//}

//Payment
.cart-payment {
  padding-top: 20px;
  border: 1px solid black;
  text-align: center;
  width: 100%;
  height: auto;
}

//.credit-card-number {
//  width: 30.5%;
//}

.cart-payment-header {
  font-weight: bold;
  font-size: 24px;
}

//.credit-card-expiration {
//  width: 15.15%;
//}
//
//.credit-card-cvv {
//  width: 15.15%;
//  padding-left: 0.20%;
//}

.payment-button {
  width: 50%;
  height: 5vh;
  font-size: 24px;
  color: white;
  background-color: purple;
}

//New
.cart-shipping-address {
  padding-top: 20px;
  border: 1px solid black;
  text-align: center;
  width: 100%;
  height: auto;
}

.credit-card-number {
  width: 50%;
}

.credit-card-expiration {
  width: 25%;
}

.credit-card-cvv {
  width: 25%;
  padding-left: 0.20%;
}
