<div class="cart-component">
  <div>
    <ng-container *ngIf="!(products.length === 0); then nonEmptyCart; else emptyCart"></ng-container>
  </div>
  <ng-template #nonEmptyCart>
    <div class="filled-cart">
            <div class="cart-container" *ngFor="let product of products; let i = index">
              <mat-card class="cart-product" [ngClass]="'product-'+product.id">
                <mat-card-header>
                  <button class="btn-close" mat-icon-button aria-label="close dialog" (click)="removeProduct(product.id)">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-card-header>
                <mat-card-content>
                  <span class="product-info">{{product.name}}</span>
                  <span class="product-info">Qty: {{product.qty}}</span>
                  <span class="product-info">Total: {{product.qty * product.price | currency}}</span>
                </mat-card-content>
              </mat-card>
            </div>
      <mat-card>
        <mat-card-content>
          <span class="product-info"></span>
          <span class="product-info"></span>
          <span class="product-info product-subtotal">Subtotal: {{subtotal | currency}}</span>
        </mat-card-content>
      </mat-card>
      <app-checkout></app-checkout>
    </div>
  </ng-template>
  <ng-template #emptyCart>
    <div>
      <h1>Your cart is empty!</h1>
    </div>
  </ng-template>
</div>
