<div class="cart-shipping-address">
  <span class="cart-shipping-header">Address</span><br/>
  <form class="cart-shipping-form" #f="ngForm" (ngSubmit)="onFormSubmit(f)">
    <div>
      <mat-form-field appearance="fill" class="shipping-address-first-name">
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="userFirstName" name="userInputFirstName" required #nameField="ngModel">
        <ng-container *ngIf="(!nameField.valid && saveUnsuccessful); then showErrorMessage"></ng-container>
      </mat-form-field>
      <mat-form-field appearance="fill" class="shipping-address-last-name">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="userLastName" name="userInputLastName" required #nameField="ngModel">
        <ng-container *ngIf="(!nameField.valid && saveUnsuccessful); then showErrorMessage"></ng-container>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" class="shipping-address-address-line-1">
        <mat-label>Address Line 1</mat-label>
        <input matInput [(ngModel)]="userAddress" name="userInputAddress" required #nameField="ngModel">
        <ng-container *ngIf="(!nameField.valid && saveUnsuccessful); then showErrorMessage"></ng-container>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" class="shipping-address-zip-code">
        <mat-label>Zip Code</mat-label>
        <input matInput [(ngModel)]="userZipCode" name="userInputZipCode" required #nameField="ngModel">
        <ng-container *ngIf="(!nameField.valid && saveUnsuccessful); then showErrorMessage"></ng-container>
      </mat-form-field>
      <!--            <br/><span *ngIf="!nameField.valid && saveUnsuccessful">Field is required.</span>-->
      <mat-form-field appearance="fill" class="shipping-address-city">
        <mat-label>City</mat-label>
        <input matInput [(ngModel)]="userCity" name="userInputCity" required #nameField="ngModel">
        <ng-container *ngIf="(!nameField.valid && saveUnsuccessful); then showErrorMessage"></ng-container>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" class="shipping-address-state">
        <mat-label>State</mat-label>
        <mat-select [(ngModel)]="userState" name="userInputState" required #nameFile="ngModel">
          <mat-option *ngFor="let state of states" value="{{state.abbrev}}" (selectedState)="state.name">{{state.name}}</mat-option>
        </mat-select>
        <ng-container *ngIf="(!nameField.valid && saveUnsuccessful); then showErrorMessage"></ng-container>
      </mat-form-field>
      <mat-form-field appearance="fill" class="shipping-address-phone-number">
        <mat-label>Phone Number</mat-label>
        <input matInput [(ngModel)]="userPhoneNumber" name="userInputPhoneNumber" placeholder="111-111-1111" pattern="^\d{10}$" required #nameField="ngModel">
        <ng-container *ngIf="(!nameField.valid && saveUnsuccessful); then showErrorMessage"></ng-container>
      </mat-form-field>
    </div>
    <span class="cart-payment-header">Payment</span><br/>
    <div>
      <mat-form-field appearance="fill" class="credit-card-number">
        <mat-label>Credit Card Number</mat-label>
        <input matInput [(ngModel)]="userCreditCard" name="userInputCCNumber" pattern="^\d{16}$" required #nameField="ngModel">
        <ng-container *ngIf="(!nameField.valid && saveUnsuccessful); then showErrorMessage"></ng-container>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" class="credit-card-expiration">
        <mat-label>Expiration Date</mat-label>
        <input matInput placeholder="MM/YYYY" [(ngModel)]="userCCExpiration" name="userInputCCExpr" required #nameField="ngModel">
        <ng-container *ngIf="(!nameField.valid && saveUnsuccessful); then showErrorMessage"></ng-container>
      </mat-form-field>
      <mat-form-field appearance="fill" class="credit-card-cvv">
        <mat-label>CVV</mat-label>
        <input matInput [(ngModel)]="userCCCVV" name="userInputCCVV" required #nameField="ngModel">
        <ng-container *ngIf="(!nameField.valid && saveUnsuccessful); then showErrorMessage"></ng-container>
      </mat-form-field>
    </div>
    <button mat-fab extended type="submit" class="payment-button">
      <mat-icon>payment</mat-icon>
      Place Order
    </button>
  </form>
</div>

<ng-template #showErrorMessage>
  <mat-error>Field is required.</mat-error>
</ng-template>
