<mat-sidenav-container class="navigation-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-nav-list>
      <button class="btn-homepage" (click)="navToHomepage()" mat-raised-button>
        Homepage
      </button>
    </mat-nav-list>
    <mat-nav-list>
      <button class="btn-product-details" (click)="navToProductDetails()" mat-raised-button>
        Product Details
      </button>
    </mat-nav-list>
    <mat-nav-list>
      <button class="btn-cart" (click)="navigateToCart()" mat-raised-button>
        Cart
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button></p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


<!--<mat-toolbar>-->
<!--  <button mat-icon-button (click)="isExpanded = !isExpanded">-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
<!--</mat-toolbar>-->

<!--<mat-sidenav-container class="sidenav-container">-->
<!--  <mat-sidenav #sidenav class="app-sidenav" mdoe="slide" [(opened)]="opened">-->
<!--    <mat-nav-list>-->
<!--      <button class="a" data-toggle="modal" mat-raised-button>-->
<!--        A-->
<!--      </button>-->
<!--    </mat-nav-list>-->
<!--    <mat-nav-list>-->
<!--      <button class="b" data-toggle="modal" mat-raised-button>-->
<!--        B-->
<!--      </button>-->
<!--    </mat-nav-list>-->
<!--    <mat-nav-list>-->
<!--      <button class="b" data-toggle="modal" mat-raised-button>-->
<!--        C-->
<!--      </button>-->
<!--    </mat-nav-list>-->
<!--  </mat-sidenav>-->

<!--  <mat-sidenav-content>-->
<!--      <p>-->
<!--        <button mat-icon-button (click)="sidenav.toggle()">-->
<!--          <mat-icon>menu</mat-icon>-->
<!--        </button>-->
<!--      </p>-->
<!--    <router-outlet></router-outlet>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->

<!--<mat-drawer-container autosize>-->
<!--  <mat-toolbar>-->
<!--    <button mat-icon-button (click)="drawer.toggle()" id="navDrawer" aria-label="icon-button with menu icon">-->
<!--      <mat-icon>menu</mat-icon>-->
<!--    </button>-->
<!--  </mat-toolbar>-->

<!--  <mat-drawer #drawer mode="side">-->
<!--    <nav>-->
<!--      <button class="a" data-toggle="modal" mat-raised-button>-->
<!--        A-->
<!--      </button>-->
<!--    </nav>-->
<!--    <nav>-->
<!--      <button class="b" data-toggle="modal" mat-raised-button>-->
<!--        B-->
<!--      </button>-->
<!--    </nav>-->
<!--    <nav>-->
<!--      <button class="c" data-toggle="modal" mat-raised-button>-->
<!--        C-->
<!--      </button>-->
<!--    </nav>-->
<!--  </mat-drawer>-->
<!--</mat-drawer-container>-->
<!--<app-sidebar></app-sidebar>-->
<!--<header>-->
<!--  <div class="container">-->
<!--    <div class="header-top">-->
<!--      <div class="header-top-links">-->
<!--        <li>Login</li>-->
<!--        <li>Cart</li>-->
<!--      </div>-->
<!--    </div>-->

<!--    <nav>-->
<!--      <ul>-->
<!--        <li (click)="componentToLoad('home')">Home</li>-->
<!--        <li (click)="componentToLoad('product')">Product Details</li>-->
<!--        <li (click)="componentToLoad('cart')">Shopping Cart</li>-->
<!--      </ul>-->
<!--    </nav>-->
<!--  </div>-->
<!--</header>-->

<!--<main>-->
<!--  <div  *ngIf="pageToLoad == 'product'" class="container" style="border: 5px">-->
<!--    <app-product></app-product>-->
<!--  </div>-->
<!--</main>-->

