<div class="sidebar">
  <ul>
    <li class="logo">
      <a (click)="navToHomepage()">
        <!--        <span class="icon"><ion-icon name="shirt-outline"></ion-icon></span>-->
        <span class="text">Tommy's Closet</span>
      </a>
    </li>
    <li>
      <a (click)="navToHomepage()">
        <!--        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>-->
        <span class="text">Homepage</span>
      </a>
    </li>
    <li>
      <a (click)="navToProductDetails()">
        <!--        <span class="icon"><ion-icon name="pricetags-outline"></ion-icon></span>-->
        <span class="text">Products</span>
      </a>
    </li>
    <li>
      <a (click)="navigateToCart()">
        <!--        <span class="icon"><ion-icon name="cart-outline"></ion-icon></span>-->
        <span class="text">Cart</span>
      </a>
    </li>
  </ul>
</div>
