.dialog-title {
  font-size: 25px;
  text-align: center;
}

.dialog-content {
  padding-left: 10px;
  font-size: 18px;
}

.dialog-button {
  height: 5vh;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 0;
  background-color: purple;
}
