.cart-shipping-address {
  padding-top: 20px;
  border: 1px solid black;
  text-align: center;
  width: 100%;
  height: auto;
}
.cart-shipping-header {
  font-weight: bold;
  font-size: 24px;
}

.shipping-address-first-name {
  width: 15.15%;
}

.shipping-address-last-name {
  width: 15.15%;
  padding-left: 0.20%;
}

.shipping-address-address-line-1 {
  width: 30.5%;
}

.shipping-address-zip-code, .shipping-address-state {
  width: 15.15%;
}

.shipping-address-city, .shipping-address-phone-number {
  width: 15.15%;
  padding-left: 0.20%;
}
