<!--
TODO:
- Clean up alignment; move content to center
-->
<div class="product-details" style="margin: auto;">
  <div class="image-gallery">
    <img data-image="1" src="assets/Images/product/pic1.jpg" width="100" height="100" alt="image" (click)="loadImage('pic1.jpg', 'Women Sweater - $25')" style="margin: 5px; border: solid; border-color: rgb(201, 150, 224); border-radius: 20px;">
    <img data-image="2" src="assets/Images/product/pic2.jpg" width="100" height="100" alt="image" (click)="loadImage('pic2.jpg', 'Men clothing - $20')" style="margin: 5px; border: solid; border-color: rgb(201, 150, 224); border-radius: 20px;">
    <img data-image="3" src="assets/Images/product/pic3.jpg" width="100" height="100" alt="image" (click)="loadImage('pic3.jpg', 'Girl Clothing - $20')" style="margin: 5px; border: solid; border-color: rgb(201, 150, 224); border-radius: 20px;">
    <img data-image="4" src="assets/Images/product/pic4.jpg" width="100" height="100" alt="image" (click)="loadImage('pic4.jpg', 'Women Sandal - $30')" style="margin: 5px; border: solid; border-color: rgb(201, 150, 224); border-radius: 20px;">
    <img data-image="5" src="assets/Images/product/pic5.jpg" width="100" height="100" alt="image" (click)="loadImage('pic5.jpg', 'Men Dress Shoe - $40')" style="margin: 5px; border: solid; border-color: rgb(201, 150, 224); border-radius: 20px;">
    <img data-image="6" src="assets/Images/product/pic6.jpg" width="100" height="100" alt="image" (click)="loadImage('pic6.jpg', 'Kids Shoe - $35')" style="margin: 5px; border: solid; border-color: rgb(201, 150, 224); border-radius: 20px;">
  </div>
  <br><br>
  <div class="image-preview">
    <div class="image-container">
      <img src="assets/Images/product/{{imageName}}" width="500" height="500" alt="image" style="outline: solid; outline-color: rgb(201, 150, 224); border-radius: 20px; outline-width: 4px; margin: 5px;">
    </div>
    <br>
    <div style="margin: 5px;">
      {{productDescription}}
    </div>
  </div>
  <br>
  <button (click)="addToCart()" style="background-color: rgb(201, 150, 224); margin: 5px; padding: 5px;">Add To Cart</button>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
