<h1 style="text-align: center;">Preview our goods!</h1>
<div *ngIf= "images && images.length >0" class="slideshow-container">
  <img *ngFor= "let image of images; let i=index" [src]="image.imageSrc" [alt]="image.imageAlt"
  [ngClass]="{'image-active': selectedIndex === i}"
  class="fade"
  >

  <div *ngIf="indicators" class="slideshow-dot-container">
    <span *ngFor="let dot of images; let i=index" class="dot"
    [ngClass]="{'active': selectedIndex===i}"
    (click)="selectImage(i)"
    >

    </span>
  </div>

  <div *ngIf= "controls" class="btn-slideshow btn-prev">
    <i class="fas fa-arrow-circle-left icon-slideshow icon-prev"></i>
  </div>
</div>
